<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/chat.css" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-comment"></span> XYZ Chat</a>
      </div>
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    <div class="row fullHeight">
      <div class="col-md-3"></div>
      <div class="col-md-6 fullHeight">
        <div class="panel panel-primary fullHeight">
          <div class="panel-body">
            <ul class="chat list-group">
              <!-- The messages will be added here -->
            </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." 
                autofocus="true"/>
              <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  
  <!-- Chat template -->
  <script type="text/template" id="chatTemplate">
    <li class="list-group-item talk <%- talkClass %>">
      <% _.each( msgs, function( msg ){ %>
        <%- msg %>
        </br>
      <% }); %>
    </li>
  </script>

  <!-- Templating and messaging -->
  <script type="text/javascript">
    var chatTemplate;
    var socket;

    function send(field){
      $(chatTemplate({msgs: [field.val()], talkClass: "talk-left"})).appendTo(".chat");
      socket.send(field.val());
      field.val('');
    }

    $(function(){
      // Precompile templates
      chatTemplate = _.template(
        $("#chatTemplate").html()
      );
      
      // Connect to the server and bind events
      socket = io.connect('http://' + window.location.hostname + ':7777', {'force new connection': true});
      
      socket.on("message", function(msg) {
        msgs = msg.split("\n");
        $(chatTemplate({msgs: msgs, talkClass: "talk-right"})).appendTo(".chat");
        $('.panel-body').scrollTop($('.chat').height());
      });
      $(window).on('beforeunload', function(){
        socket.close();
      });

      // Bind the send message function
      $('#btn-input').keypress(function(e) {
        if (e.which == 13) {
          send($(this));
        }
      });
      $('#btn-chat').click(function(e) {
        send($("#btn-input"));
      });
    });
  </script>
  
</body>
</html>